<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerCurve | Applicant Credential</title>
    <link rel="stylesheet" href="../CSS/loginSignUp.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../JavaScript/jquery-3.6.0.min.js"></script>
    <script src="../JavaScript/include-html.min.js"></script>
    <script src="../JavaScript/loginSignUp.js"></script>
    
</head>

<body>
    <div include-html="navbar.html" id="header_file"></div>

        
    <div class="container" id="pop-up" style="width: 750px;">
        <a href="home.html" class="close">&times;</a>
        <form class="form" id="login" action="home.html" onsubmit="return validateLoginForm()">
            
            <h1 class="form_title">Applicant Login</h1>
            <div class="form_message form_message_error"></div>
            <div class="form_input_group">
                <input type="text" id="loginUsername" class="form_input" autofocus placeholder="Username">
                <div class="error" id="loginUsernameErr"></div>
            </div>
            <div class="form_input_group">
                <input type="password" id="loginPass" class="form_input" autofocus placeholder="Password">
                <div class="error" id="loginPassErr"></div>
            </div>
            <button class="form_button" type="submit">SignIn</button>
            <p class="form_text">
                <a href="#" class="form_link">Forgot your password?</a>
            </p>
            <p class="form_text">
                <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>
        </form>

        <form class="form form_hidden" id="createAccount" onsubmit="return validateSignupForm()">
            <h1 class="form_title">Applicant Register</h1>
            <div class="form_message form_message_error"></div>
            <div class="form_input_group">
                <input type="text" id="signupUsername" class="form_input" autofocus placeholder="Username">
                <div class="error" id="signupUsernameErr"></div>
            </div>
            <div class="form_input_group">
                <input type="email" id="emailAdd" class="form_input" autofocus placeholder="Email Address">
                <div class="error" id="emailAddErr"></div>
            </div>
            <div class="form_input_group">
                <input type="tel" id="telephone" class="form_input" autofocus placeholder="Phone Number">
                <div class="error" id="telephoneErr"></div>
            </div>
            <div class="form_input_group">
                <input type="password" id="createPass" class="form_input" autofocus placeholder="Password">
                <div class="error" id="createPassErr"></div>
            </div>
            <div class="form_input_group">
                <input type="password" id="confirmPass" class="form_input" autofocus placeholder="Confirm Password">
                <div class="error" id="confirmPassErr"></div>
            </div>
            <button class="form_button" type="submit">SignUp</button>
            <p class="form_text">
                <a class="form_link" href="./" id="linkLogin">Already have an account? SignIn</a>
            </p>
        </form>
    </div>

</body>
</html>
