{% macro add_applicant_table(output) %}
{% if output != None %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <!-- name,pref1,pref2,pref3,workexp,resume,model_category -->
        <th> Name</th>
        <th> Email</th>
        <th> Work Experience</th>
    </tr>
    <thead>
    {%for row in output%}
    <tr>
        {%for i,col in row%}

        {%if i <=4 %}
        <td> {{col}}</td>

        {%endif%}
        {%endfor%}
    </tr>
    {%endfor%}
</table>
{% endif %}
{% endmacro %}