{% macro add_jobs_table(output) %}
{% if output != None %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th> Company Name</th>
        <th> Company Location</th>
        <th> Company Job Title</th>
        <th> Company Link</th>
    </tr>
    <thead>
    {%for row in output%}
    <tr>
        {%for i,col in row%}

        {%if i != 3%}
        <td> {{col}}</td>
        {%else%}
        <td><a href={{col}} rel="noopener noreferrer" target="_blank">link</a></td>
        {%endif%}
        {%endfor%}
    </tr>

    {%endfor%}
</table>
{% endif %}
{% endmacro %}