<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareerCurve | Recruiter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/jquery-3.6.0.min.js"></script>
    <script src="../static/include-html.min.js"></script>
    <link rel="stylesheet" href="../static/dashBoard.css">
</head>

<body>

    <div include-html="navbar2.html" id="header_file"></div>

    <div class="container mt-5">
        <form action="#" method="post" enctype="multipart/form-data" onsubmit="show">
            <h1 class="main_heading">Take one step ahead in your career with CareerCurve</h1>
            <h1 class="main_heading">Upload Your Resume Now</h1>
            <div class="main_heading mt-5 m-3">
                <label for="uploadresume">Select & Upload Your Resume : </label>
                <input type="file" id="uploadresume" name="uploadresume" accept="application/pdf"/>
            </div>
            <input type="submit" value="Predict Eligible Roles and Company">
        </form>
    </div>


    <div>
        <h1>Snippet to show the results</h1>
        <table>
          <tr>
            <!-- name,pref1,pref2,pref3,workexp,resume,model_category -->
           <th> name </th>
           <th> pref1 </th>
           <th> pref2 </th>
           <th> pref3 </th>
           <th> workexp </th>
          </tr>
             {%for row in output%}
           <tr>
            {%for i,col in row%}

            {%if i <=4 %}
             <td> {{col}} </td>

             {%endif%}
             {%endfor%}
           </tr>

           {%endfor%}

         </table>

    </div>

    <script type="text/javascript">
        function show() {
            let x = document.getElementById("display");
            console.log(x);
            if (x.style.display == "none") {
                x.style.display = "block";
            }
            else {
                x.style.display = "none";
            }
        }
    </script>
</body>
</html>